# Introduccion al módulo pandas
## Breve descripción y ejemplos. Parte 3. Selecciones booleanas. 

### Marco Arieli Herrera-Valdez$^1$
#### $^1$ Laboratorio de Fisiología de Sistemas, Departamento de Matemáticas, Facultad de Ciencias, Universidad Nacional Autónoma de México

(Basado en el tutorial https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html)

In [5]:
import numpy as np
import pandas as pd

In [4]:
n=10
fechas = pd.date_range('20200221',periods=n)
print(fechas)
df= pd.DataFrame(np.random.randn(len(fechas),4),index=fechas,columns=list('ABCD'))
print(df)

DatetimeIndex(['2020-02-21', '2020-02-22', '2020-02-23', '2020-02-24',
               '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28',
               '2020-02-29', '2020-03-01'],
              dtype='datetime64[ns]', freq='D')
                   A         B         C         D
2020-02-21 -0.725464  0.228307 -0.253424  0.569894
2020-02-22  0.407363 -0.472251 -0.071795 -0.882185
2020-02-23  2.246483  1.372142  2.005164 -0.169392
2020-02-24 -2.231220 -2.140033  0.397970  0.311540
2020-02-25  1.556168 -0.316262 -1.083282  1.038053
2020-02-26 -0.085700 -2.262448  0.932022  1.354139
2020-02-27  0.197632 -1.264358 -0.137526  0.976751
2020-02-28  0.275039  0.963606 -1.606575 -0.205103
2020-02-29  0.660677 -0.283855  1.476684  0.192741
2020-03-01  2.760655 -0.079211 -0.211996  1.283209

### Selecciones booleanas

In [6]:
df[df['A']>0]

                   A         B         C         D
2020-02-22  0.407363 -0.472251 -0.071795 -0.882185
2020-02-23  2.246483  1.372142  2.005164 -0.169392
2020-02-25  1.556168 -0.316262 -1.083282  1.038053
2020-02-27  0.197632 -1.264358 -0.137526  0.976751
2020-02-28  0.275039  0.963606 -1.606575 -0.205103
2020-02-29  0.660677 -0.283855  1.476684  0.192741
2020-03-01  2.760655 -0.079211 -0.211996  1.283209

In [7]:
df[df>0]

                   A         B         C         D
2020-02-21       NaN  0.228307       NaN  0.569894
2020-02-22  0.407363       NaN       NaN       NaN
2020-02-23  2.246483  1.372142  2.005164       NaN
2020-02-24       NaN       NaN  0.397970  0.311540
2020-02-25  1.556168       NaN       NaN  1.038053
2020-02-26       NaN       NaN  0.932022  1.354139
2020-02-27  0.197632       NaN       NaN  0.976751
2020-02-28  0.275039  0.963606       NaN       NaN
2020-02-29  0.660677       NaN  1.476684  0.192741
2020-03-01  2.760655       NaN       NaN  1.283209